@model BakerySystem.Models.BKRY_ITEMS
@{
    Layout = null;
    HtmlHelper.ClientValidationEnabled = true;

}
<style>
   
</style>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
    $('#id_reset').click(function () {
        $('#name').val('');
        $('#expiry_dte').val('');
        $('#price').val('');
        $('#file').val(null);      
   
    });
   
</script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
@using (Html.BeginForm("AddOrEdit", "Items", FormMethod.Post, new { onsubmit = "return SubmitForm(this)", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.name, new { @class = "control-label" })
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.name)

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.expiry_dte, new { @class = "control-label" })
        @*@Html.EditorFor(model => model.expiry_dte, new { htmlAttributes = new { @class = "form-control" } })
            @Html.Kendo().*@

        @Html.TextBoxFor(model => model.expiry_dte, new { @class = "form-control datepicker", placeholder = "Enter Expiry Date." })


    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.price, new { @class = "control-label" })
        <div class="input-group">
            <span class="input-group-addon">$</span>
            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control",@type="number" } })
            @Html.ValidationMessageFor(model => model.price)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.image, new { @class = "control-label" })
        @*@Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })*@
        <input type="file" name="file" id="file" style="width:100%" />
        @Html.ValidationMessageFor(model => model.image)

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.publish, new { @class = "control-label" })
        @Html.EditorFor(model => model.publish, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.categoryId, new { @class = "control-label" })
        <br>
        @*@Html.DropDownListFor(model => model.categoryId, new SelectList(, "Id", "name"), new { htmlAttributes = new { @id="categoryid" } })*@
        <select id="categoryid" class="form-control" name="categoryname">
            @foreach (var item in ViewBag.Category)
            {
                <option value='@item.Id'>
                    @item.name
                </option>
            }
        </select>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-2" style="float:left;width:150px">
            </div>
            <div class="col-md-4" style="float:left;width:150px">
                <input type="submit" value="Save" class="btn btn-outline-primary" style="width:150px;text-indent:hanging" />
            </div>
            <div class="col-md-4" style="float:right;width:150px">
                <input type="Button" id="id_reset" value="Clear" class="btn btn-outline-warning" style="width:150px;text-indent:hanging" />
            </div>
            <div class="col-md-2" style="float:left;width:150px">
            </div>
        </div>
    </div>



}
